<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.name %><!--messagesテーブルのuser_idに紐付いているユーザー名を、user.nameと記述することで取得しています。-->
    </div>
    <div class="message-date">
      <%= l message.created_at %><!--messagesテーブルのcreated_atカラムから、投稿した時刻を取得しています。ただし、現段階では日本基準の時刻ではありません。-->
    </div><!--applcation.rbのファイルとja.ymlは作成編集した後にこの l メソッドを記述することで指定時刻が表示される-->
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content %><!--messagesテーブルのcontentカラムから、メッセージの内容を取得しています。-->
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %> 
    <!--この記述によって、画像を表示できます。
しかし、このままの記述では、画像が存在しない場合でも、画像を表示する記述が読み込まれて、エラーを引き起こしてしまいます。
この問題を解決するために、メッセージに画像が添付されているかをチェックするattached?というメソッドを使用します。-->
  </div>
</div>