<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %> <!--ログインしているユーザーの編集をするため 、edit_user_path(current_user)と指定しますcurrent_user.nameは、ログインしているユーザー名ですユーザー名をクリックすると、usersコントローラーのeditアクションが実行され、編集ページに遷移できます。-->
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="chat-list">
    <a href="#">techroom1</a>
  </div>
  <div class="chat-list">
    <a href="#">techroom2</a>
  </div>
</div>